
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body{
    overflow: scroll;
    background: #E487DA;
    background: url(fondo.png), #d655a0;
    background: url(fondo.png), -webkit-gradient(linear, right top, left top, from(#642385), to(#ececec));
    background: url(fondo.png), linear-gradient(to left, #7b4397, #e7589b)
   
}

.wrapper{
    max-width: 405px;
    margin: 135px auto ;
    background: #ffff ;
    border-radius: 7px ;
    padding: 28px 0;
    
}

.task-input{
   height: 52px; 
   padding: 0 25px;
   position: relative;

}
.task-input i{
    position: absolute;
    top: 50%;
    transform: translate( 17px, -50%);
    color:#b4b4b4;
}

.task-input input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 13px;
    border-radius: 5px ;
    border: 1px solid #999;
    padding: 0 20px 0 53px;
}

.task-input input::placeholder{
    color: #b4b4b4;
}
.controls, li{
    align-items: center;
    display: flex ;
    justify-content: space-between;
}


.controls{
    font-size: 12px;
    
    padding: 18px 25px;
    border-bottom: 1px solid #ccc;

}

.filters span{
    margin: 0 8px;
    font-size: 12px;
    cursor: pointer;

}


.filters span:first-child{
    margin-left: 0;
}

.filters span.active{
    color: #e071d5 ;
}

.controls .clear-btn{
    outline: none;
    border: none;
    color: #ffff;
    padding: 7px 13px;
    border-radius: 4px;
    background: #E487DA;
    cursor: pointer;
    font-size: 12px;
}

.controls .claro {
    outline: none;
    border: none;
    color: #ffff;
    padding: 7px 13px;
    border-radius: 4px;
    background: #dfadda;
    cursor: pointer;
    font-size: 12px; 
}
.task-box{
    margin: 20px 25px;
}

.task-box .task{
    list-style:none; 
    
    font-size: 13px;
    margin-bottom: 18px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc ;
}
.task-box .task:last-child{
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;

}
.task label{
    display: flex;
}
.task label p.checked{
    text-decoration: line-through;
}

.task label input{
    margin-top: 4px;
    margin-right: 12px;
}

.task .settings{
    cursor: pointer;
    position: relative;
}

.settings .task-menu{
    position: absolute;
    background-color: #ffff;
    border-radius: 5px;
    padding: 5px 0 ;
    right: -5px ;
    bottom: -65px;
    z-index: 2;
    transform: scale(0);
    transform-origin: top right;
    transition: transform 0.2s ease;
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
}

.settings:hover .task-menu.show{
    transform: scale(1);
}

.task-menu li{
    height: 25px;
    font-size: 12px;
    padding: 17px 15px;
    margin-bottom: 2px;
    justify-content: flex-start;
}

.task-menu li:last-child{
    margin-bottom: 0;
}

.task-menu li:hover{
    background: #f0e6ef ;
}




.task-menu li i{
   padding-right: 8px; 
}


.tamanio{
    font-size: 12px;
    margin-left: 50px;
}